{% extends 'base.html' %}

{% block content %}

<div class = "login">
    <h1>Tambah Task Baru</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label for="judul">Judul: </label>
            <input id="judul" type="text" name="judul" placeholder="Judul" required>
        </div>
        <div>
            <label for="deskripsi">Deskripsi: </label>
            <input id="deskripsi" type="text" name="deskripsi" placeholder="Deskripsi" required>
        </div>
        <input type="submit" value="Tambah">
    </form>
</div>

{% endblock content %}