{% extends 'base.html' %}

{% block meta %}
<title>Account Registration</title>
{% endblock meta %}

{% block content %}  

<div class="login flex flex-col justify-center items-center bg-[#a7bed3] p-5 rounded-xl lg:scale-100 md:scale-90 scale-75">
    
    <h1 class="text-2xl font-bold mb-4">Registration Form</h1>  

        <form method="POST">  
            {% csrf_token %}  
            <table class="flex flex-col justify-center items-center">  
                {{ form.as_table }}  
                <tr class="mt-2 flex flex-col justify-center items-center">  
                    <td></td>
                    <td><a href="{% url 'todolist:registrasi_user' %}"><input class="bg-blue-500 hover:bg-blue-700 hover:cursor-pointer h-10 w-32 rounded-lg"  type="submit" name="submit" value="Daftar"/></a></td>  
                </tr>  
            </table>
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
            {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}