{% extends 'base.html' %}

{% block content %}
<div class="h-screen w-screen flex flex-col justify-between items-center">

  <div class="text-white p-5 h-14 flex flex-row justify-between items-center w-screen bg-slate-700">
    <h1 class="lg:text-2xl sm:text-xl font-bold">TUGAS PBP</h1>
    <div class="flex flex-row items-center font-semibold lg:scale-100 sm:scale-75">
      <a href="{% url 'todolist:create_task' %}"><button class="m-1 bg-blue-500 hover:bg-blue-700 hover:cursor-pointer px-4 py-2 rounded-lg">New Task</button></a>
      <a href="{% url 'todolist:logout_user' %}"><button class="m-1 bg-red-500 hover:bg-red-700 hover:cursor-pointer px-4 py-2 rounded-lg">Logout</button></a>
    </div>
  </div>
  
  <h1 class="my-1 text-center text-xl font-semibold">Hi! Welcome {{username}}</h1>

  <div class="mb-3 grid grid-flow-cols lg:grid-cols-2 sm:grid-cols-1 gap-5 p-5 rounded-xl">
    {% for task in todolist %}
      <div class="text-white hover:scale-105 duration-150 flex flex-row justify-between p-3 lg:w-[30rem] sm:w-[25rem] h-24 bg-zinc-800 box-shadow-md rounded-xl">
          <div>
          <h2 class="font-semibold lg:text-md sm:text-sm">{{task.title}}</h2>
          <h3 class="lg:text-sm sm:text-xs text-gray-500">{{task.description}}</h3>
          <p class="text-xs text-gray-500">created: {{task.date}}</p>
          {% if task.is_finished%}
            <p class="text-xs font-semibold text-blue-500">Selesai</p>
          {% else %}
            <p class="text-xs font-semibold text-red-500">Belum Selesai</p>
          {% endif %}
        </div>
        <div class="flex flex-col text-sm lg:scale-100 sm:scale-60">
          <a href="update/{{task.pk}}"><button class="m-1 bg-blue-500 hover:bg-blue-700 hover:cursor-pointer h-7 w-20 rounded-md">Update</button></a>
          <a href="delete/{{task.pk}}"><button class="m-1 bg-red-500 hover:bg-red-700 hover:cursor-pointer h-7 w-20 rounded-md">Delete</button></a>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock content %}
